*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
    margin-left: 250px;
    border: 1px solid black;
    max-width: 780px;
}


header{
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: #AB10D8 4px solid;
    background-color: rgb(194, 194, 194);
    margin: 5px;
    
}

header h1{
    padding: 20px;
    align-items: center;
}

main{
    display: flex;
    
}

main section{
    margin: none;
}

figure{
    position: relative;
    margin-top: 10px;

    
}

figure img{
    max-width: 750px;
    margin-left: 15px;
}

figure figcaption{
    position: absolute;
    bottom: 4px;
    height: 60px;
    width: 750px;
    margin-left: 15px;
    background: rgb(0, 107, 230);
    color: white;
    opacity: 70%;
    display: flex;
    align-items: center;
}

figure figcaption p{
    color: white;
    padding: 10px;
    
   
}

summary{
    background-color: rgb(77, 77, 77);
    color: white;
    padding: 5px;
    margin-top: 10px;
    max-width: 740px;
    margin-left: 15px;
}

ul{
    padding: 5px;
    margin-left: 15px;
}


footer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 50px;
    margin: 5px;

}

footer p{
    color: white;
    
   
}